/*-- scss:defaults --*/
$primary: #ECAA00;
$secondary: #FF0000;
$notwhite: lighten($primary, 47%);
$white: lighten($notwhite, 50%);

$body-bg: $notwhite;
$code-block-bg: mix($notwhite, #efefef, 15%);
$code-bg: $code-block-bg;
/*-- scss:rules --*/
div.sourceCode:has(+ div.cell-output), div.sourceCode:has(+ div.cell-output-display) {
  border-radius: 7px 7px 0 0;
  margin-bottom: 0px;
}

div.sourceCode, div.sourceCode:has(+ div.cell-output-display p img){
  border-radius: 7px;
  border: 1px solid rgba(133,136,139,.65);
}

.cell-output pre code, div.cell-output-display div.pagedtable-wrapper {
  border: 1px solid #dee2e6;
  border-left: 5px solid #282a36;
  border: 1px solid rgba(133,136,139,.65);
  border-top: 0px;
  border-radius: 0 0 7px 7px;
  background-color: lighten(#282a36, 78%);
  background-color: #fdfdfd;
}

div.callout {
  border-radius: 7px;
  overflow: hidden;
}

div.callout-header {
  overflow: hidden;
}

.page-columns .content {
  background-color: $white;
  border: 1px solid rgba(133,136,139,.65);
  border-radius: 7px;
  padding: 1em;
}

.sidebar.toc-left>*, .sidebar.margin-sidebar>* {
  background-color: $white;
  padding: 0.5em;
  border: 1px solid rgba(133,136,139,.65);
  border-radius: 7px;
}

#quarto-appendix.default {
  background-color: $white;
}